USE [master]
GO
/****** Object:  Database [VINAMILK]    Script Date: 1/20/2022 10:33:11 PM ******/
CREATE DATABASE [VINAMILK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VINAMILK', FILENAME = N'D:\SQL\PSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\VINAMILK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VINAMILK_log', FILENAME = N'D:\SQL\PSQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\VINAMILK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VINAMILK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VINAMILK]
GO
/****** Object:  Table [dbo].[DMSUA]    Script Date: 1/20/2022 10:33:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMSUA](
	[IDDM] [nchar](10) NOT NULL,
	[TenDM] [nvarchar](20) NULL,
	[AnhDM] [varchar](50) NULL,
 CONSTRAINT [PK_DMSUA] PRIMARY KEY CLUSTERED 
(
	[IDDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUA]    Script Date: 1/20/2022 10:33:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NULL,
	[AnhBia] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [money] NULL,
	[Mota] [ntext] NULL,
	[IDDM] [nchar](10) NULL,
 CONSTRAINT [PK_SUA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 1/20/2022 10:33:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Ten] [nchar](10) NOT NULL,
	[MatKhau] [nchar](10) NULL,
	[QuenTC] [nchar](10) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DMSUA] ([IDDM], [TenDM], [AnhDM]) VALUES (N'DM1       ', N'Sữa bột vinamilk', N'dm1.jpg')
INSERT [dbo].[DMSUA] ([IDDM], [TenDM], [AnhDM]) VALUES (N'DM2       ', N'Sữa đặc', N'dm2.jpg')
INSERT [dbo].[DMSUA] ([IDDM], [TenDM], [AnhDM]) VALUES (N'DM3       ', N'Sữa đậu nành', N'dm3.jpg')
GO
SET IDENTITY_INSERT [dbo].[SUA] ON 

INSERT [dbo].[SUA] ([ID], [TieuDe], [AnhBia], [SoLuong], [GiaBan], [Mota], [IDDM]) VALUES (1, N'Dielac Mama Gold', N'm666.jpg', 100, 250000.0000, N'Với hương vị thơm ngon và phù hợp với khẩu vị của mẹ trong giai đoạn mang thai, sữa bột Dielac Mama Gold bổ sung Sắt, Canxi, chất xơ hòa tan thế hệ mới Sc-FOS, I-ốt giúp tăng cường sức khỏe cho mẹ. Đặc biệt, sản phẩm còn bổ sung DHA, Axit Folic, Canxi hỗ trợ sự phát triển của não bộ và hệ xương của thai nhi.', N'DM1       ')
INSERT [dbo].[SUA] ([ID], [TieuDe], [AnhBia], [SoLuong], [GiaBan], [Mota], [IDDM]) VALUES (2, N'Optimum Gold', N'sb2.jpg', 120, 235000.0000, N'Bổ sung 25% DHA từ tảo (2), hỗ trợ phát triển não bộ và giúp đáp ứng hàm lượng theo khuyến nghị hằng ngày của các chuyên gia y tế Thế Giới FAO/WHO (3).', N'DM1       ')
INSERT [dbo].[SUA] ([ID], [TieuDe], [AnhBia], [SoLuong], [GiaBan], [Mota], [IDDM]) VALUES (3, N'Dielac Alpha Gold IQ', N'sb3.jpg', 200, 350000.0000, N'Các vi chất Kẽm, Selen, Vitamin A, D3, C giúp tăng cường sức đề kháng, bảo vệ trẻ luôn khoẻ mạnh, chống lại các bệnh nhiểm khuẩn khi tiếp xúc nhiều hơn với môi trường xung quanh.', N'DM1       ')
SET IDENTITY_INSERT [dbo].[SUA] OFF
GO
INSERT [dbo].[TAIKHOAN] ([Ten], [MatKhau], [QuenTC]) VALUES (N'admin     ', N'admin     ', N'admin     ')
INSERT [dbo].[TAIKHOAN] ([Ten], [MatKhau], [QuenTC]) VALUES (N'linh      ', N'28042007  ', N'user      ')
INSERT [dbo].[TAIKHOAN] ([Ten], [MatKhau], [QuenTC]) VALUES (N'phong     ', N'23102000  ', N'user      ')
GO
ALTER TABLE [dbo].[SUA]  WITH CHECK ADD  CONSTRAINT [FK_SUA_DMSUA] FOREIGN KEY([IDDM])
REFERENCES [dbo].[DMSUA] ([IDDM])
GO
ALTER TABLE [dbo].[SUA] CHECK CONSTRAINT [FK_SUA_DMSUA]
GO
USE [master]
GO
